html{
    margin-left: 7em;
    margin-right: 7em;
}
span, h2{
    font-family: 'Arvo', serif;
}
body{
    font-family: 'lato', sans-serif;
    background-color: #abc5dd;
    color: white;
}

/* NAV */
a.nav-link{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.nav-link:hover {
    color: yellow;
  }
.nav-header{
    background-color: white;
}

/* INTRO */
.nav-name{
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-align: right;
}
.intro{
    padding-top: 5em;
    padding-bottom: 5em;
    margin-left: 105px!important;
}

/* ABOUT */
.about-title{
    text-align: center;
}
.about{
    padding: 3em!important;
    color: black!important;
}

/* SKILLS */
.py-5{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.d-flex{
    display: inline !important;
}
div.skill-list{
    width:0% !important;
}
/* PROJECTS */


/* CONTACT */
.contact{
    padding: 4em!important;
}

/* FOOTER */
footer{
    display: block;
    box-sizing: border-box;
}
.btn.btn-home{
    background: #e9e9e9;
    border-style: none;
}

/* EXTRA */

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
